.App{
  background-color: black;
  color: white;
  font-family: monospace;
}

.login{
height:1000px;
background-color: black; 
text-align: center;

}

.welcome{
  font-size: 50px;
}
.welcome:hover{
  color:red;
  cursor: pointer;
 
}
.card {
  font-family: monospace;
  text-align: center;
  background-color: black;
  color:white;
  padding: 1rem;
  width: 18rem;
  height: 28rem;
  display: inline-grid;
  margin: 4rem 4rem; 
  cursor: pointer;
   /* box-shadow: 3px 4px #e04b52; */
    
}  
/* .card:hover{ */
/* border: grey solid 1px;  */
/* box-shadow: 3px 4px black;
border: grey solid 1px;

} */

.movie-poster:hover{
  /* border: grey solid 1px;  */
  /* box-shadow: 3px 4px red; */
  border: red solid 2px;
  
  }

.likes{
  cursor: pointer;
  font-size:25px;
}

.watchlist{
  /* cursor: pointer;
  background-color: black;
  color: white;
  font-family: monospace; */
  /* background-color: black; */
  /* border: none; */
  color: white;
  padding: 5px 8px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  
  cursor: pointer;
}

.watchlist:hover{
  /* background-color: white; */
  color: red;
}
.recomendation{
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 8px;
}

.delete:hover{
  color: red;
}

.delete{
  color: white;
  padding: 5px 8px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.movie-show{
  background-color: black;
  justify-content: center;
  text-align: center;
  /* height: 700px; */

}

.trailer{
  margin:center
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: rgb(148, 7, 7);
}

/* input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
} */

input[type=text]:focus {
  border: 5px solid red;
}

input[type="text"] {
  font-family: monospace;
  font-size: 25px;
  color: black;
}

textarea[type="text"]{
  font-family: monospace;
  font-size: 25px;
  color: black;
}

textarea[type=text]:focus {
  border: 5px solid red;
}

textarea[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.pwd {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.pwd:focus {
  border: 5px solid red;
}

.pwd {
  font-family: monospace;
  font-size: 25px;
  color: black;
}

.movie-title{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

#horoscope-header {
  display: flex;
  justify-content: center;
  background:black;
  border: white solid 1px;
  /* opacity: .9; */
  height: 16rem;
  box-shadow: 15px 10px 5px white;
  /* border-radius: 15px; */
  /* padding: 3rem; */
}

.likes-name{
  font-size: 15px;
  font-weight: bold;
}




.nav-bar{
  background-color: purple;
  color: black
}

.search-bar{
  background-color:black;
  /* justify-content: center; */
  color:white;
  height:75px;
  margin-top:50px;
  display: relative;
  left:40%;
  position:absolute;
  top:250px;
}

.likes-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color:whit;
  /* border-top: .5px solid white; */
  
}

.card-button{
  width: 100%;
  /* border-top: .5px solid white; */
  padding: 3px;
  margin-top: 5px;
}

.item2{
  background-color: black;
  color: white;
  font-size: 18px;
}

select {
  width:200px;
  height: 45px;
  font-size: 15px;
}

.movie-info{
  font-size: 18px;
  font-weight: bold;
}

.review{
  font-size: 33px;
  font-weight: bold;
  color: red
}

.movie-show-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50;
  color:red;
  font-weight: bold;
}

.update-form{
  
  padding-left: 20px;
  /* background-color: black;
  left:40%;
  position:absolute;
  top:250px; */
}

.form{
  padding-left: 20px;
}

#logo{
  /* justify-content: center; */
  position:absolute;
  top:-185px; 
  width:625px; 
  height:625px
}