.card {
  text-align: center;
  
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 6rem 6rem; 
   box-shadow: 3px 4px #e04b52;
    border: grey solid 1px; 
}  

 /* .image-card {
  text-align: center;
  width: 15rem;
  height: 25rem;
  border: 1px solid #00000020;
  border-radius: 2px;
  text-align: left;
  background-color: white;
  display: inline-grid;
  margin: 5rem 5rem; 
} */
/* .card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
} */

/* .card:hover{
  border:black solid 1px; 
  box-shadow: 3px 4px black;
  width: 15rem;
  height: 15rem;
  } */


/* 
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 20px; } */

  /* .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    font-size: 30px;
    text-align: center;
  } */

 /* .grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right';
  grid-gap: 10px;
  background-color: black;
  padding: 10px;
} */

/* .grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */ */


/* .hide {
  display: none;
} */

/* .myDIV  {
  display: none;
  
}
.myDIV:hover{
  display:block;
  border: grey solid 1px; 
box-shadow: 3px 4px black
} */

#horoscope-header {
  display: flex;
  justify-content: center;
  background:black;
  border: white solid 1px;
  opacity: .9;
  height: 18rem;
  box-shadow: 15px 10px 5px white;
  /* border-radius: 15px; */
  /* padding: 3rem; */
}






