.card {
  text-align: center;
  
  padding: 1rem;
  width: 15rem;
  height: 23rem;
  display: inline-grid;
  margin: 1rem 2rem;
  /* box-shadow: 3px 4px #e04b52 */
}

/* .card:hover{
border: grey solid 1px; 
box-shadow: 3px 4px black

} */
/* .hide {
  display: none;
} */

/* .myDIV  {
  display: none;
  
}
.myDIV:hover{
  display:block;
  border: grey solid 1px; 
box-shadow: 3px 4px black
} */





